@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
.homenav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 1.7%;
  padding-left: 1.7%;
  padding-right: 1.7%;
  /* background-color: aqua; */
  
}
.home {
  color: white;
  background: linear-gradient(#040720, black );
  user-select: none;
  height: 100vh;
  text-align: center;
}
.profilebtn {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.profilepic {
  margin-right: 1rem;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background: #6577b3;
  position: relative;
  top: -350px;
  -webkit-animation: drop forwards 0.3s 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: drop forwards 0.3s 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.profilepic:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: -30px;
  border-right: 50px solid #6577b3;
  border-bottom: 30px solid transparent;
}
@-webkit-keyframes drop {
  0% {
    top: -350px;
  }
  100% {
    top: 0;
  }
}

@keyframes drop {
  0% {
    top: -350px;
  }
  100% {
    top: 0;
  }
}
.menu {
  display: flex;
  align-items: baseline;
}
.title {
  transform: rotateX(60deg);
  font-size: 33px;
  font-weight: 500;
  text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
.column2{
  padding-left: 0%;

}
.maintext {
  font-size: 10vw;
  font-weight: 500;
 
  /* margin-top: -85px;
  margin-bottom: 80px;
  margin-left: 20px; */
  /* position: fixed; */
  /* z-index: 0; */
  /* border: 1px solid black; */
}
.text{
  transform: rotate(270deg);
  width: 110%;
}
.bigtext {
  
  transform: rotateX(55deg);
  /* font-family: 'Mr Dafoe'; */
  /* background: linear-gradient(gray, rgb(54, 54, 54)); */
  background: -webkit-linear-gradient(gray, rgb(54, 54, 54));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 0 0 0.05em rgb(0, 0, 0), 0 0 0.2em #EDD94C, 0 0 0.3em #EDD94C; */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}
.date {
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  /* margin-left: 29%; */
  font-style: italic;
  background: black;
  color: white;
  border-top: 7px solid #6577b3;
  border-bottom: 7px solid #6577b3;
  padding-left: 2%;
  align-items: baseline;
  margin-top: 3%;
  /* position: relative; */
}
.name {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  position: relative;
}
/* .nametext {
  background: white;
} */
.dot {
  font-size: 10px;
}
.mains{
  display: grid;
  grid-template-columns: 30% 70%;
  /* padding: 2%; */
  /* border: 1px solid black; */
}
.box {
  display: flex;
  /* grid-template-columns: auto auto auto; */
  /* margin-left: 29%; */
  align-items: baseline;
  justify-content: space-around;
  padding: 3%;
  margin-top: 5%;
  margin-bottom: 3%;
  /* border:1px solid black */
  /* margin-top: 4%;
  margin-bottom: 3%; */
}
.boxitem {
  background: gray;
  padding: 11%;
  border-radius: 3%;
  transition: all 0.2s ease-in-out;
}
.boxitem:hover {
  transform: scale(1.1);
}
.footer{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* background-color: rgb(155, 151, 151); */
  /* color: black; */
  border-top: 1px solid gray;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 30px;
  background: linear-gradient(#040720, black );
}
@media screen  and (max-width:1050px){
  .boxitem{
    padding: 8%;
  }
}
@media screen  and (max-width:700px){
  .mains{
    display: block;
  }
  .column2{
    /* margin-top: 5%; */
    padding-left: 2%;
   position: relative;
  }
  .maintext{
    position: fixed;
    margin-left: 15%;
    margin-top: -10%;
    
  }
  .boxitem{
    padding: 5%;
    margin-top: 6%;
    text-align: center;
  }
  .box{
    padding: 2%;
    display: block;
  }
  .bigtext{
    filter: blur(6px);
  -webkit-filter: blur(6px);
  transform: rotateX(0deg);
  font-size: 20vw;
  }
}